  .containerofmap {
    position: relative;
    height:540px;
    width:1080px;
    /* background: url(
        https://www.wikihow.com/images/thumb/9/96/Use-Parking-Lot-Etiquette-Step-16.jpg/v4-460px-Use-Parking-Lot-Etiquette-Step-16.jpg.webp
        ) no-repeat; */
    /* background: url(https://i.ibb.co/tB6jcgH/lot1.png) no-repeat; */
  }
  
  .hover {
    position: absolute;
    height: 540px;
    width: 1080px;
  }

  .hover:hover {
      border-color: green;
  }

  .poly {
    fill: rgba(106, 247, 106);
    cursor: pointer;
  }

  .poly:hover {
      fill: rgb(78, 199, 255);
  }

  polyline {
    fill: rgba(106, 247, 106);
    stroke: rgb(106, 247, 106);
    stroke-width: 1;
  }

  #svg {
      fill: rgb(106, 247, 106);
      stroke: rgb(106, 247, 106);
      stroke-width: 1;
  }