.containerofmap {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 445px;
}

.hover {
    position: absolute;
}

.hover:hover {
    border-color: green;
}

.poly {
    fill: rgba(106, 247, 106);
    cursor: pointer;
}

.poly:hover {
    fill: rgb(78, 199, 255);
}

polyline {
    fill: rgba(106, 247, 106);
    stroke: rgb(0, 0, 0);
    stroke-width: 1;
}

polygon {
    fill: rgba(106, 247, 106);
    stroke: rgb(0, 0, 0);
    stroke-width: 1;
}

#svg {
    fill: rgb(106, 247, 106);
    stroke: rgb(106, 247, 106);
    stroke-width: 1;
}
